* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #c7ede3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #80ffb5;
    background-image: linear-gradient(to left,#80ffb5, #26da9e ,#4bba8e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #80ffb5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.7s ease;
}

.button {

    color: #80ffb5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130 px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    padding-right: 100px;
}

.button:hover {
    color: #80ffb5;
    transition: all 0.7s ease;
    text-decoration: underline;
}

.navbar__links:hover {
    color: #80ffb5;
    transition: all 0.7s ease;
    text-decoration: underline;
}

.navbar__menu[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
     .navbar__menu input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .navbar__menu input[type=text] {
      border: 1px solid #ccc;
    }
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .signinbtn {
    width: auto;
    padding: 10px 18px;
    color: white;
    background-color: #0e1210;
  }
  
  
  .container2 {
    align-content: center;
    align-items: center;
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
    padding-left: 0px;
  }
  
  /* The Modal (background) */
  .modal {
    align-items: center;
    align-content: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    align-content: center;
    align-items: center;
    background-color: #47cc87;
    margin: 15% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #165d40;
    width: 50%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    #navbar__logo {
        padding-left: 25px;
    }
}




/* drop down menu */
.dropbtn {
    background: #c7ede3;
    color:  #80ffb5;
    padding: 24px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    color: #0a8053;
    transition: all 0.7s ease;
    text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:  #80ffb5;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(229, 228, 237);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
    color: #80ffb5;
    ;
}

.show {
    display: block;
}


/* the heading box */
.hero {
    background: #c7ede3;
    padding: 50px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: rgb(247, 248, 251);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.301);
}


.hero__heading span {
    text-shadow: none;
    font-size: 700;
    font-weight: 500;
    background: #94b8fa;
    background: -webkit-linear-gradient(to right,#80ffb5, #26da9e ,#4bba8e 100%);
    background: linear-gradient(to right,#80ffb5, #26da9e ,#4bba8e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.hero__description {
    font-size: 60px;
    background: #e7e0e7;
    background: -webkit-linear-gradient(to right,#80ffb5, #26da9e ,#4bba8e 100%);
    background: linear-gradient(to right,#80ffb5, #26da9e ,#4bba8e 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 50px;
    }
}

.main {
    background: #c7ede3;
    padding: 200px 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2rem;
    color: #80ffb5;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 4rem;
    background: #ff8177;
    background: -webkit-linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
    background: linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #80ffb5, #2b7558, #c1ebdd 100%);
    background: linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff1e5a;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 500px;
    width: 500px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
}

.fa-layer-group,
.fa-users {
    font-size: 14rem;
}

@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 425px;
        width: 425px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__img--card {
        width: 250px;
        height: 250px;
    }

    .fa-users,
    .fa-layer-group {
        font-size: 4rem;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* 
slideshow */

.mySlides {
    display: none;
}



/* cards */
.services {
    background: #c7ede3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
}

.services h1 {
    background-color: #095177;
    background-image: linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: linear-gradient(to left,#80ffb5, #2b7558, #c1ebdd 100%);
}

.services__card:nth-child(2) {
    background: linear-gradient(to right,#80ffb5, #2b7558, #c1ebdd 100%);
}

.services__card:nth-child(3) {
    background: linear-gradient(to left, #80ffb5, #2b7558, #c1ebdd 100%);
}

.services__card h2 {
    text-align: center;
}

.services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
}

.services__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.services__card button {

    color: #26da9e ;
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #80ffb5; 
    font-size: 1rem;
}

.services__card button:hover {
   
    background-color: #4bba8e ;
    transition: all 0.7s ease;
    text-decoration: underline;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .services__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .services__wrapper {
        grid-template-columns: 1fr;
    }
}


/* image overlay */
* {box-sizing: border-box;}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
    position: absolute;
    bottom: 0;
    background: #80ffb5, ;
    background:#80ffb5, ;
    /* Black see-through */
    color: #f1f1f1;
    width: 90%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}



/* Footer CSS */
.footer__container {
    background-color: #c7ede3;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* contact us  */

.contact-parent {
   
    background: #fff;
    display: flex;
    margin: 80px 0;
}

.contact-child {
    display: flex;
    flex: 1;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    
}

.child1 {
    background: linear-gradient(#80ffb5, #2b7558);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 100px 0;
}

.child1 p {
    padding-left: 20%;
    font-size: 20px;
    text-shadow: 0px 0px 2px #000;
}

.child1 p span {
    font-size: 16px;
    color: #9df2fd;
}

.child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inside-contact {
    width: 90%;
    margin: 0 auto;
}

.inside-contact h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}

.inside-contact h3 {
    text-align: center;
    font-size: 16px;
    color: #0085e2;
}

.inside-contact input,
.inside-contact textarea {
    width: 100%;
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.48);
    padding: 5px 10px;
    margin-bottom: 20px;
}

.inside-contact input[type=submit] {
    background-color: #000;
    color: #fff;
    transition: 0.2s;
    border: 2px solid #000;
    margin: 30px 0;
}

.inside-contact input[type=submit]:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}

@media screen and (max-width:991px) {
    .contact-parent {
        display: block;
        width: 100%;
    }

    .child1 {
        display: none;
    }

    .child2 {
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        background-size: cover;
    }

    .inside-contact input,
    .inside-contact textarea {
        background-color: #fff;
    }
}