<html>

<head>
    <title>sale4</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="indian.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</head>

<body>





    <!--footer-->
    <div class="footer__container">
        <div class="container1">
            
            <div class="contact-parent">
                
                <div class="contact-child child1">
                    <a href="sale.html" class="a1">Back</a>
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="sale4.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="sale41.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="sale42.jpg" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
                <div class="contact-child child2">
                    <div class="inside-contact">
                        <h2>Foxton Flawless Work</h2>
<p> Foxton Flawless Work is the perfect solution for you. Our green suit features a collar neck, border with embroidery, and simple style that will help you stand out from the rest. 
    
</p>                  <div class="container">
                            <form action="">
                                <div class="row">
                                    <div class="col-25">
                                        <label for="fname">First Name</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-25">
                                        <label for="lname">Last Name</label>
                                    </div>
                                    <div class="col-75">
                                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    
                                        Price : <p style="text-decoration-line: line-through; "> Rps3999 </p> <h6>Rps2999</h6>
                                    </div>
                                    
                                   
                                
                                
                        </div>
                        <br>
                        <div class="row">
                            <input type="submit" value="Submit">
                        </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
    function cost() {
        var cost
        let x = document[col-25][size].value;
        if (x == "s") {
          cost=2500
          return true ;
        }
      }</script>
</body>

</html>