{%load static%}
<html>
    <head>
        <link rel="stylesheet" href="{%static '/css/home.css'%}" />

<body>

<form class="modal-content animate" action="{% url 'signin' %}" method="post">
    {% csrf_token %}

    <div class="container2">
    <h2> Register now</h2><br><br>
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname1" class="form_control" required>
      <br><br>
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" class="form_control" required>
      <br><br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw1" class="form_control" required>
      <br><br>
      <button type='submit'> Sign In </button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
    
    <div class="container2" style="background-color:#f1f1f1">
      <button  type="button" class="cancelbtn"><a href="/login">Cancel</a></button>
      
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</body>
</html>